 <div class="container">
<div class="top">
	<div class="row">
					<div class="col-md-4">
						<div class="grid">
							<h2>About Us</h2>
					        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris egestas orci et blandit dictum. Interdum et malesuada fames ac ante ipsum primis in faucibus Quisque posuere diam et est hendrerit, eget sodales lectus.</p>
	                    </div>
					</div>
					<div class="col-md-4">
						<div class="grid">
							<h2>Our Blog</h2>
					        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris egestas orci et blandit dictum. Interdum et malesuada fames ac ante ipsum primis in faucibus Quisque posuere diam et est hendrerit, eget sodales lectus.</p>
	                    </div>
					</div>
					<div class="col-md-4">
						<div class="grid1 pull-left">
							<h2>Contact</h2>
					        <address>
					        	<p>Address : Tòa nhà FPT Polytechnic, Phố Trịnh Văn Bô, Xuân Phương, Nam Từ Liêm, Hà Nội</p>
					        	<p>Hotline : 113</p>
					        </address>
	                    </div>
	                    <div class="grid2 pull-right">
	                    </div>
					</div>
					<div class="clearfix"></div>
	</div>
</div>
 </div>
<div class="footer">
	<div class="container">
		 <div class="row">
		 	<div class="col-md-12">
		 		<ul class="list-inline pull-left">
		 			<li><a href="#">Terms of Services</a></li>
		 			<li><a href="#">Refunds</a></li>
		 			<li><a href="#">Privacy Policy</a></li>
		 			<li><a href="#">Blog</a></li>
		 			<li><a href="#">Contact</a></li>
		 		</ul>
		 		<form class="navbar-form pull-right" role="search">
			        <div class="form-group">
			        <input type="text" class="form-control" placeholder="Search">
			        </div>
			        <button type="Find" class="btn btn-default">Find</button>
			    </form>
		 	</div>	
		 </div>	
		 <div class="copy-right text-center">
			<p>Copyright Assignment Angular FPT Polytechnic</p>	
		</div>
	</div>
</div>