 <div class="container" >
 <div class="content">	
 <div class="row">
 	<div class="col-md-12 text-center">
 		<h2>Featured Products</h2>
 	</div>	
 </div>	
<div class="row">
  <div class="col-md-3" *ngFor="let product of products">
            <div class="card h-100">
              <a routerLink="/product/detail/{{product.id}}"><img class="card-img-top" src="https://i.imgur.com/f8Dx7Oj.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a routerLink="/product/detail/{{product.id}}">{{product.name}}</a>
                </h4>
                <h5>${{product.price}}</h5>
                <h5 class="card-text">{{product.desc}}</h5>
              </div>
            </div>
  </div>
</div>
<div class="clearfix"></div>
</div>