<app-header></app-header>	
<div class="container">
  <br>
    <button  class="btn btn-primary" routerLink="/product/add">Add Product</button><br><br>
<table class="table table-bordered">
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>Price</th>
 	    <th>Description</th>
			<th>Action</th>
		</tr>
		<tr *ngFor="let product of products;index as i">
			<th scope="row" width="50">{{i}}</th>
			<th width="250"><a routerLink="/product/detail/{{product.id}}">{{product.name}}</a></th>
			<th width="200">{{product.price}}</th>
      <th>{{product.desc}}</th>
      <th width="400" class="text-right">
        <button class="btn btn-primary" routerLink="/product/detail/{{product.id}}">Detail</button>
				<button class="btn btn-info ml-2" routerLink="/product/edit/{{product.id}}">Edit</button>
				<button class="btn btn-danger ml-2" (click)="deleteProduct(product.id)" >Delete</button>
			</th>
		</tr>
	</thead>
</table>
<hr>
</div>

<app-footer></app-footer>