
				<div class="col-md-2">
					<div class="grid">
						<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
							<div class="portfolio-wrapper">		
								<a data-toggle="modal" data-target=".bs-example-modal-md" href="#" class="b-link-stripe b-animate-go  thickbox">
							     <img src="https://i.imgur.com/f8Dx7Oj.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="https://i.imgur.com/bMbYcvR.png" alt=""/></h2>
							  	</div></a>
			                </div>
					    </div>		
						<p class="text-center">Big block Lether Bag</p>
						<h2 class="text-center">$350.00</h2>
						<p class="text-center"><a href="details.html">Buy</a></p>
                    </div>
				</div>