<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
           <!----start-images-slider---->
		<div class="images-slider">
		    <div id="fwslider" style="overflow: hidden; height: 742px;">
		        <div class="slider_container">	        
		            <div class="slide" style="opacity: 1; z-index: 1; display: block;">
		                <img src="https://i.imgur.com/9aZdcc8.jpg" alt="">
		                <div class="slide_content">
		                     <div class="slide_content_wrap">		                   
		                         <p class="description" style="opacity: 1;">New Arrivals</p>
		                        <h4 class="title" style="opacity: 1;">Bags &amp; Shoes</h4>	 
		                         <p class="description" style="opacity: 1;"><a routerLink="">Browse collection</a></p>	 	                       	
		                        <div class="slide-btns description" style="opacity: 1;">		                      
		                        </div>
		                    </div>
		                </div>
		            </div>
		            <!--/slide -->
		        </div>
		    </div>
		    <!--/slider -->
		</div>
        </div>
    </div>
</div>